# Docs and tests folders
/docs export-ignore
/tests export-ignore

# Continuous integration files
/.travis.yml export-ignore
/.scrutinizer.yml export-ignore

# Git files
/.gitattributes export-ignore
/.gitignore export-ignore

# Editor files
/.editorconfig export-ignore

# Markdown files
/CONTRIBUTING.md export-ignore
/LICENSE.md export-ignore
/README.md export-ignore
