.gutenberg__editor .gutenbergeditor-image {
  position: relative;

  input.entwine-uploadfield {
    display: none;
  }

  .uploadfield-item {
    border: none;
    height: auto;
    position: static;
  }
  .uploadfield-item:last-child {
    height: auto;
  }
  .uploadfield-item__thumbnail,
  .uploadfield-item__details {
    display: none;
  }

  .uploadfield-item__view-btn {
    background-color: rgba(231, 235, 240, 0.6);
    border-radius: 100%;
    bottom: 5%;
    position: absolute;
    right: 5%;

    &::before {
      top: -2px;
    }
  }

  /**
   * As the block can be removed there is no need for the image to be removed
   */
  .uploadfield-item__remove-btn {
    display: none;
  }

  .full-preview img {
    max-width: 100%;
  }

  fieldset.full-preview__fields {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    height: 100%;
    left: 0;
    padding: 10%;
    position: absolute;
    top: 0;
    width: 100%;

    & > div:first-child {
      margin-bottom: 0.5em;
    }
  }

  &:hover fieldset.full-preview__fields {
    display: block;
  }

  &.gutenbergeditor-image__error {
    background-color: #FDD;
    border: 2px solid #C33;
    border-radius: 5px;
    padding: 0 9px;
  }
}
